# vi: ft=conf
{{ cat .feed.reddit_url "reddit" "\"~" .feed.reddit_username "\"" }}

# news
https://www.anandtech.com/rss/ news
https://feeds.feedburner.com/servethehome news
https://www.cnx-software.com/feed embedded news
https://liliputing.com/feed sff news
https://lwkd.info/feed.xml k8s news
https://lwn.net/headlines/rss news

# blogs
https://toonk.io/rss/index.xml blog networking "~Toonk.io"
http://brendangregg.com/blog/rss.xml blog
https://www.jeffgeerling.com/blog.xml blog
https://blog.thelifeofkenneth.com/feeds/posts/default blog
http://samkear.com/feed blog
https://wrongbaud.github.io/feed.xml blog
https://ebpf.io/blog/rss.xml blog
https://matduggan.com/rss/ blog
https://www.micahlerner.com/feed.xml blog "~Micah Lerner"
https://www.philvenables.com/blog-feed.xml blog "~Risk and Cyber (Phil Venables)"
https://fly.io/blog/feed.xml blog
https://michael.stapelberg.ch/feed.xml blog

# forums
https://forums.servethehome.com/index.php?forums/great-deals.8/index.rss forums "~STH - Great Deals"

# security
https://tldrsec.com/feed.xml security

#
https://blog.runbox.com/feed/
https://labs.spotify.com/feed/
https://backstage.io/blog/feed.xml

# Arch
https://archlinux.org/feeds/news/ arch "~Arch Linux: News"
https://archlinux.org/feeds/packages/x86_64/core/ arch "~Arch Linux: Core Updates"
