{{- $helpersDir := (joinPath .chezmoi.sourceDir "helpers") -}}
{{ if lookPath "bat" -}}
export BAT_THEME="Nord"
{{- else -}}
# bat export omitted
{{- end }}

export EDITOR=vim
{{ if lookPath "nvim" -}}
export EDITOR={{ lookPath "nvim" }}
{{- else -}}
# nvim export omitted
{{- end }}

{{ if (eq .chezmoi.os "linux" ) -}}
{{ $nord_dir_colors := joinPath .chezmoi.homeDir ".nord_dir_colors" -}}
{{ if stat $nord_dir_colors -}}
{{ output "dircolors" $nord_dir_colors }}
{{- end }}
export USER_LS_COLORS="$LS_COLORS"
{{- else -}}
# linux env skipped
{{- end }}

{{ if (eq .chezmoi.os "darwin" ) -}}
export CLICOLOR=1
# TODO: dump iterm profile?
{{ output (joinPath $helpersDir "java-home.sh" ) }}
{{- else -}}
# darwin env skipped
{{- end }}

# fzf nord theme
export FZF_DEFAULT_OPTS='--color=bg+:#3B4252,bg:#2E3440,spinner:#81A1C1,hl:#616E88,fg:#D8DEE9,header:#616E88,info:#81A1C1,pointer:#81A1C1,marker:#81A1C1,fg+:#D8DEE9,prompt:#81A1C1,hl+:#81A1C1'

# rootless docker?
{{ output (joinPath $helpersDir "rootless-docker-helper.sh") (joinPath $helpersDir "docker-sock-exists.sh") }}

{{ output (joinPath $helpersDir "path.sh" ) }}

# vi: ft=sh
