[Unit]
Description=playerctl daemon

[Service]
ExecStart=/usr/bin/playerctld

Restart=always
RestartSec=3

[Install]
WantedBy=default.target

# vi: ft=systemd
