[Unit]
Description=strongDM database proxy service.
ConditionFileIsExecutable=/opt/strongdm/bin/sdm

[Service]
ExecStart=/opt/strongdm/bin/sdm "listen"


WorkingDirectory=%h/.sdm


Restart=always
RestartSec=3
EnvironmentFile=-/etc/sysconfig/sdm

[Install]
WantedBy=default.target

# vi: ft=systemd
