[Unit]
Description=automounter for removable media

[Service]
ExecStart=/usr/bin/udiskie --smart-tray

Restart=always
RestartSec=3

[Install]
WantedBy=default.target

# vi: ft=systemd
