# terminal manipulation
alias c='clear'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

{{ if lookPath "git" -}}
alias gs='git status'
alias gr='git reset --hard @'
alias push='git push'
alias dirty_dirs='for dir in *; do pushd "$dir" > /dev/null; $(git -c diff.autorefreshindex=true diff --quiet) || echo "$dir is dirty"; popd > /dev/null; done'
{{- else -}}
# git aliases omitted
{{- end }}

{{ if lookPath "bat" -}}
# cat => bat
alias cat='bat'
{{- else -}}
# bat aliases omitted
{{- end }}

{{ if lookPath "chezmoi" -}}
alias cm='chezmoi '
alias cme='chezmoi edit '
alias cma='chezmoi apply '
alias cmd='chezmoi diff '
alias cmu='chezmoi update '
alias cmg='chezmoi git -- '
alias cmsp='chezmoi source-path '
{{- else -}}
# chezmoi aliases omitted
{{- end }}

{{ if lookPath "kubectl" -}}
# kubectl
alias k='kubectl'
{{ output ( joinPath .chezmoi.sourceDir "helpers" "kubectl-aliases.sh" ) "k8s-" }}
{{- else -}}
# kubectl aliases omitted
{{- end }}

{{ if lookPath "mysql" -}}
# mysql
alias mdev='mysql -P13306 -D{{ .mysql.db_name }} -A'
alias mstaging='mysql -P13335 -D{{ .mysql.db_name }} -A'
alias mprod='mysql -P13338 -D{{ .mysql.db_name }} -A'
{{- else -}}
# mysql aliases omitted
{{- end }}

{{ if lookPath "nvim" -}}
# nvim
alias vimdiff='nvim -d'
{{- else -}}
# nvim aliases omitted
{{- end }}


# misc
alias yml2yaml='for f in *.yml; do mv -- "$f" "${f%.yml}.yaml"; done'
alias flatten='find ./ -type f -exec mv '{}' . \;'


{{ if (eq .chezmoi.os "darwin") -}}
alias l='ls'
alias l.='ls -d .*'
alias la='ls -lah'
alias ll='ls -lh'
alias dtls='apropos dtrace'

{{ if lookPath "brew" -}}
alias update='brew update && brew upgrade && chezmoi diff'
install() {
    brew install $@ && chezmoi diff
}
alias search='brew search'
{{- else -}}
# brew aliases omitted
{{- end }}

{{- else -}}
# darwin aliases omitted
{{- end }}

{{ if (eq .chezmoi.os "linux") -}}
alias l='ls --color=auto'
alias l.='ls -d .* --color=auto'
alias la='ls -lah --color=auto'
alias ll='ls -lh --color=auto'
alias ls='ls --color=auto'
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

{{ if lookPath "systemctl" -}}
alias listreboottargets='systemctl reboot --boot-loader-entry=help'
{{- else -}}
# systemd aliases omitted
{{- end }}


{{ if lookPath "yum" -}}
alias update='sudo yum update'
alias install='sudo yum install'
alias search='yum search'
{{- else -}}
# yum aliases omitted
{{- end }}

{{ if lookPath "dnf" -}}
alias update='sudo dnf update'
alias install='sudo dnf install'
alias search='dnf search'
{{- else -}}
# dnf aliases omitted
{{- end }}

{{ if lookPath "apt" -}}
alias update='sudo apt-get update && sudo apt-get upgrade'
alias install='sudo apt-get install'
alias search='apt-cache search'
alias add='sudo add-apt-repository'
{{- else -}}
# apt aliases omitted
{{- end }}

{{ if lookPath "pacman" -}}
alias update_mirrors='sudo reflector -c US --score 75 -l 75 -n 20 --connection-timeout 1 --download-timeout 2 --save /etc/pacman.d/mirrorlist'
{{- else -}}
# pacman aliases omitted
{{- end }}

{{- else -}}
# linux aliases omitted
{{- end }}

alias assume='source assume'

{{- /*
vi: ft=sh
*/ -}}
